@model dishes
<div class="jumbotron">
    <h1>Edit @Model.Name</h1>
</div>
<a href="/">Home</a>
<div class="main">
    <form asp-action="EditDish" asp-controller="Home" method="post">
        <div class="form-group">
            <!-- <span asp-validation-for="Name"></span> -->
            <label asp-for="Chef">Chef's Name</label>
            <span class="text-danger" asp-validation-for="Chef"></span>
            <div class="col-5">
                <input class="form-control" asp-for="Chef" value="@Model.Chef">
            </div>
            
        </div>
        <div class="form-group">
            <label asp-for="Name">Name of Dish</label>
            <span class="text-danger" asp-validation-for="Name"></span>
            <div class="col-5">
                <input class="form-control" asp-for="Name" value="@Model.Name">
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Calories"># of Calories</label>
            <span class="text-danger" asp-validation-for="Calories"></span>
            <div class="col-5">
                <input class="form-control" asp-for="Calories" value="@Model.Calories">
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tastiness"></label>
            <span class="text-danger" asp-validation-for="Tastiness"></span>
            <div class="col-5">
                <select class="form-control" asp-for="Tastiness" value="@Model.Tastiness">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <span class="text-danger" asp-validation-for="Description"></span>
            <div class="col-5">
                <textarea class="form-control" asp-for="Description" value = "@Model.Description"></textarea>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Edit Dish</button>
    </form>
</div>